/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text
{
   background-color: red;
   color:white;
   padding:10px;
   margin:0px;
}
.inner-box
{
  margin:0px;
  padding:0px;
}
#outer-box
{
   border:10px solid purple;
}

